{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "react/prop-types": 0,
    "no-param-reassign": 0,
    "react/jsx-props-no-spreading": 0
  },
  "env": {
    "browser": true,
    "node": true
  }
}
